<div class="row">
    <!-- HTML para a exibição dos alunos e do aluno selecionado -->
    <div class="col-sm-6" *ngIf="alunoSelecionado">
        <div class="d-flex">
            <div class="me-auto">
                <!-- Exibe o título da página com o nome do aluno selecionado -->
                <app-titulo [titulo]="'Aluno: ' + alunoSelecionado.id"></app-titulo>
            </div>
            <div class="mt-2 float-end">
                <!-- Botão para voltar à lista de alunos -->
                <button class="btn btn-outline-danger"(click)="voltar()">Fechar</button>
            </div>
        </div>

        <form>
            <div class="form-group ">
                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                <input type="text" value="{{alunoSelecionado.nome}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label">Sobrenome</label>
                <input type="text" value="{{alunoSelecionado.sobrenome}}" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label">Telefone</label>
                <input type="tel" value="{{alunoSelecionado.telefone}}" class="form-control">
            </div>
        </form>
    </div>

    <!-- HTML para a exibição da lista de alunos -->
    <br>
    <div [ngClass]="{'col-sm-6':alunoSelecionado,'col-sm-12':!alunoSelecionado}">
        <!-- Exibe o título padrão da página -->
        <app-titulo [titulo]="titulo"></app-titulo>
        <!-- Tabela com a lista de alunos -->
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let aluno of alunos" style="cursor: pointer" (click)="alunoSelect(aluno)">
                    <th scope="row">{{aluno.id}}</th>
                    <td>{{aluno.nome}}</td>
                    <td>{{aluno.sobrenome}}</td>
                    <td>{{aluno.telefone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>