<div *ngIf="alunoSelecionado">
    <app-titulo [titulo]="'Aluno:'+ alunoSelecionado"></app-titulo>
    aluno selecionado: {{alunoSelecionado}}
</div>

<button class="btn btn-outline-secondary" (click)="voltar()">Voltar</button>

<br>
<div *ngIf="!alunoSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let aluno of alunos" style="cursor: pointer" (click)="alunoSelect(aluno)">
                <th scope="row">{{aluno.id}}</th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
            </tr>
        </tbody>
    </table>
</div>