<!-- HTML para a exibição dos alunos e do aluno selecionado -->
<div *ngIf="alunoSelecionado">
    <!-- Exibe o título da página com o nome do aluno selecionado -->
    <app-titulo [titulo]="'Aluno: ' + alunoSelecionado"></app-titulo>
    <!-- Exibe o nome do aluno selecionado -->
    Aluno selecionado: {{ alunoSelecionado }}
    <!-- Botão para voltar à lista de alunos -->
    <button class="btn btn-outline-secondary" (click)="voltar()">Voltar</button>
</div>

<!-- HTML para a exibição da lista de alunos -->
<br>
<div *ngIf="!alunoSelecionado">
    <!-- Exibe o título padrão da página -->
    <app-titulo [titulo]="titulo"></app-titulo>
    <!-- Tabela com a lista de alunos -->
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Telefone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let aluno of alunos" style="cursor: pointer" (click)="alunoSelect(aluno)">
                <th scope="row">{{aluno.id}}</th>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.sobrenome}}</td>
                <td>{{aluno.telefone}}</td>
            </tr>
        </tbody>
    </table>
</div>